<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="libs/script/jquery.min.js"></script>
    <meta name="viewport"  content="width=device-width,user-scalable=no">
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" rev="stylesheet" href="style/reset.css" type="text/css" />
    <link rel="stylesheet" rev="stylesheet" href="style/global.css" type="text/css" />
    <link rel="stylesheet" rev="stylesheet" href="style/index.css" type="text/css" />
    <link href="libs/style/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
  </head>
  <body>
    <div class="loading"></div>
    <div class="" id="app">
      <div class="subtitle">

        <div class="mebubtn" @click="menuxiala=1">
          经营概览
        </div>
        <div class="exit">
          <img src="images/exit.png" alt="" />
        </div>
      </div>


      <div class="tabbox">
       <div class="tabsandv">
          <span qie="0" class="tabsp tabsp1"
            ><span class="">组织</span> <em class="fa fa-angle-down"></em
            ><em class="fa fa-angle-up"></em
          ></span>
          <div class="tabla tabla1" qiedata="0">
            <div class="tablain">
              <div class="tablaqie tablaqie2">
                <ul>
                  <li class="cur">重药集团</li>
                  <li class="">重药集团</li>
                  <li class="">重药集团</li>
                  <li class="">重药集团</li>
                  <li class="">重药集团</li>
                  <li class="">重药集团</li>
                  <li class="">重药集团</li>
                  <li class="">重药集团</li>
                  <li class="">重药集团</li>
                  <li class="">重药集团</li>
                  <li class="">重药集团</li>
                  <li class="">重药集团</li>
                </ul>

              </div>
            </div>
          </div>
        </div>

        <div class="tabsandv">
          <span qie="1" class="tabsp tabsp2"
            ><span class="">2020</span> <em class="fa fa-angle-down"></em
            ><em class="fa fa-angle-up"></em
          ></span>
          <div class="tabla tabla2" qiedata="1">
            <div class="tablain">
              <div class="tablaqie tablaqie2">
                <ul>
                  <li class="cur">2020</li>
                  <li>2020</li>
                  <li>2020</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tabsandv">
          <span qie="2" class="tabsp tabsp2"
            ><span class="">1季度</span> <em class="fa fa-angle-down"></em
            ><em class="fa fa-angle-up"></em
          ></span>
          <div class="tabla tabla2" qiedata="2">
            <div class="tablain">
              <div class="tablaqie tablaqie2">
                <ul>
                  <li class="cur">1季度</li>
                  <li>2季度</li>
                  <li>3季度</li>
                  <li>4季度</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="tabsandv">
          <span qie="3" class="tabsp tabsp3"
            ><span class="">3月</span> <em class="fa fa-angle-down"></em
            ><em class="fa fa-angle-up"></em
          ></span>
          <div class="tabla tabla2" qiedata="3">
            <div class="tablain">
              <div class="tablaqie tablaqie2">
                <ul>
                  <li class="cur">1月</li>
                  <li>2月</li>
                  <li>3月</li>
                  <li>4月</li>
                  <li>5月</li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--  -->
      <!--  -->
      <div class="indexmain">
        <div class="gwitamwa">
          <div class="gwitam">
            <div class="csiiatm">
              <div class="csiiatm1">公司数量</div>
              <div class="csiiatm2"><em>600</em>家</div>
            </div>
            <div class="csiiatm">
              <div class="csiiatm1">一级公司</div>
              <div class="csiiatm2"><em>200</em>家</div>
            </div>
            <div class="csiiatm">
              <div class="csiiatm1">二级公司</div>
              <div class="csiiatm2"><em>300</em>家</div>
            </div>
            <div class="csiiatm">
              <div class="csiiatm1">三级公司</div>
              <div class="csiiatm2"><em>200</em>家</div>
            </div>
            <div class="csiiatm">
              <div class="csiiatm1">控股公司</div>
              <div class="csiiatm2"><em>200</em>家</div>
            </div>
            <div class="csiiatm">
              <div class="csiiatm1">参股公司</div>
              <div class="csiiatm2"><em>200</em>家</div>
            </div>
            <div class="csiiatm">
              <div class="csiiatm1">门店数量</div>
              <div class="csiiatm2"><em>502</em>家</div>
            </div>


          </div>
        </div>
        <!--  -->


        <!--  -->
        <div class="contzhong">


            <div class="smtab">
                    <em :class="{cur: custab==0}" @click="custab = 0">区域市场</em>
                    <em :class="{cur: custab==1}" @click="custab = 1">全国</em>
                  </div>

            <div class="dituwa">


              <div class="ditu" v-if="custab == 0">
                <img src="images/ditu21.png" alt="" />


                <!-- 1 -->
                <div class="dituk dituk32" @click="cur = 32">
                  <div class="ditubg"></div>
                  <div class="dituicon dituiconsj">
                    <em></em>

                    <em class="icondian"></em>
                  </div>
                </div>

                <div class="dituk dituk33" @click="cur = 33">
                  <div class="ditubg"></div>
                  <div class="dituicon dituiconsj">
                    <em></em>

                    <em class="icondian"></em>
                  </div>
                </div>
                <div class="diticmt">
                  <span><em class="diicmt diicmt1"></em>>50亿</span>
                  <span><em class="diicmt diicmt2"></em>>10~50亿</span>
                  <span><em class="diicmt diicmt3"></em>><10亿</span>
                </div>

              </div>


              <div class="ditu vx" v-if="custab == 1">

                <!-- <div class="dituzuowz">
                  <div class="ditmw1"><em><img src="images/gs1.png" alt="" /></em> 公司数量 600 家</div>
                  <div class="ditmw2">一级公司(200家) 二级公司(300家) 三级公司(200家)</div>
                  <div class="ditmw2">控股公司(200家) 参股公司(200家)</div>
                  <div class="ditmw1"><em><img src="images/gs2.png" alt="" /></em> 门店数量 502 家</div>
                </div> -->
                <img src="images/ditu2.png" alt="" />

                <div class="" id="xIcon">
                  <div :class=" 'dituk '+ 'dituk'+item" v-for="(item,index) in iconList1">
                      <div class="ditubg"></div>
                      <div class="dituicon" @click="cur = index">
                        <em></em>
                        <em class="icondian"></em>
                      </div>
                    </div>

                </div>
                <!-- 1 -->


                <div class="diticmt">
                  <span><em class="diicmt diicmt1"></em>>50亿</span>
                  <span><em class="diicmt diicmt2"></em>>10~50亿</span>
                  <span><em class="diicmt diicmt3"></em>><10亿</span>
                </div>
              </div>


            </div>
            <div class="qideuqie">
              <div class="ditutan ditutan-big" v-for="(item,index) in iconList2" :key="index" v-if="cur == index">
                  <div class="titutl">
                    省级平台公司（重庆）
                  </div>
                  <div class="tmsndl">
                    <div class="tmsndlin">
                      <div class="tinemttm">
                        <div class="tinemttm1">公司数量</div>
                        <div class="tinemttm2">2{{index}} <em>家</em></div>
                      </div>
                    </div>
                    <div class="tmsndlin">
                      <div class="tinemttm">
                        <div class="tinemttm1">门店数量</div>
                        <div class="tinemttm2">2 <em>个</em></div>
                      </div>
                    </div>
                  </div>
                  <div class="tmsndl">
                    <div class="tmsndlin">
                      <div class="tinemttm">
                        <span class="tinemttm1">营业收入</span>
                        <span class="tinemttm2">56445.54 / <em>84.3%</em></span>
                      </div>


                    </div>
                     <div class="tmsndlin">
                      <div class="tinemttm">
                        <span class="tinemttm1">利润总额</span>
                        <span class="tinemttm2">56445.54 / <em>42.33%</em></span>
                      </div>


                    </div>

                  </div>
                </div>
            </div>
          </div>


          <div class="contnr">
            <div class="cont cont-tab">
              <div class="tabtitle tabtitlex">
                <span class="cur">营业收入</span>
               <!--  <span>利润总额</span>
                <span>现金流</span> -->
                <span>资金周转天数</span>
              </div>
              <div class="cont3in">
                <div class="tabDiv">
                  <div class="csitem">
                    <span><em class="demem demem1"></em>本期完成</span>
                    <span><em class="demem demem2"></em>上年同期</span>
                    <span><em class="demem demem3"></em>同比增幅</span>
                  </div>
                  <div class="tblsct">
                    <div class="ynshtab ynshtab-scrol">
                      <div class="chartvx" id="ch8" style="height: 160px;width: 890px;"></div>
                    </div>


                  </div>
                </div>
                <div class="tabDiv">2</div>
               <!--  <div class="tabDiv">3</div>
                <div class="tabDiv">4</div> -->
              </div>
            </div>


            <div class="cont cont-tab">
              <div class="tabtitle tabtitlex">
                <span class="cur">营业收入</span>
                <span>利润总额</span>

              </div>
               <div class="cont3in cont3in-bing">
                    <div class="tabDiv">
                      <div class="jindubx">
                        <div class="jintuel">
                          <span>收入实际值/目标</span>
                          <em>419.68/560.33</em>
                        </div>
                        <div class="jindwa">
                          <div class="jinduin"></div>
                        </div>
                      </div>
                      <div class="bilibox">
                        <div class="piebx">
                          <div class="pietl">同比 <em class="up"></em></div>
                          <div class="piediv">
                            <div class="chartvx" id="ch1" style="width: 1.9rem;height: 1.9rem;"></div>
                            <span class="chartwz">20%</span>
                          </div>
                        </div>
                        <div class="piebx">
                          <div class="pietl">环比 <em class="down"></em></div>
                          <div class="piediv">
                            <div class="chartvx" id="ch2" style="width: 1.9rem;height: 1.9rem;"></div>
                            <span class="chartwz">20%</span>
                          </div>
                        </div>
                        <div class="piebx">
                          <div class="pietl">收入完成率 </div>
                          <div class=" ">
                            <div class="peidms">
                              74.89<em>%</em>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="tabDiv">
                      <div class="jindubx">
                        <div class="jintuel">
                          <span>年度利润累计/目标</span>
                          <em>419.68/560.33</em>
                        </div>
                        <div class="jindwa">
                          <div class="jinduin"></div>
                        </div>
                      </div>
                      <div class="bilibox">
                        <div class="piebx">
                          <div class="pietl">同比 <em class="up"></em></div>
                          <div class="piediv">
                            <div class="chartvx" id="chx1" style="width: 1.9rem;height: 1.9rem;"></div>
                            <span class="chartwz">20%</span>
                          </div>
                        </div>
                        <div class="piebx">
                          <div class="pietl">环比 <em class="down"></em></div>
                          <div class="piediv">
                            <div class="chartvx" id="chx2" style="width: 1.9rem;height: 1.9rem;"></div>
                            <span class="chartwz">20%</span>
                          </div>
                        </div>
                        <div class="piebx">
                          <div class="pietl">利润达成率 </div>
                          <div class=" ">
                            <div class="peidms">
                              74.89<em>%</em>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
            </div>



            <div class="cont cont-tab">
              <div class="tabtitle tabtitlex">
                <span class="cur">应收账款</span>
                <span>一年以上应收账款</span>

              </div>
               <div class="cont3in cont3in-bing">
                    <div class="tabDiv">
                      <div class="jindubx">
                        <div class="jintuel">
                          <span>收入实际值/目标</span>
                          <em>419.68/560.33</em>
                        </div>
                        <div class="jindwa">
                          <div class="jinduin"></div>
                        </div>
                      </div>
                      <div class="bilibox">
                        <div class="piebx">
                          <div class="pietl">同比 <em class="up"></em></div>
                          <div class="piediv">
                            <div class="chartvx" id="ch3" style="width: 1.9rem;height: 1.9rem;"></div>
                            <span class="chartwz">20%</span>
                          </div>
                        </div>
                        <div class="piebx">
                          <div class="pietl">环比 <em class="down"></em></div>
                          <div class="piediv">
                            <div class="chartvx" id="ch4" style="width: 1.9rem;height: 1.9rem;"></div>
                            <span class="chartwz">20%</span>
                          </div>
                        </div>
                        <div class="piebx">
                          <div class="pietl">应收账款周转率(天) </div>
                          <div class=" ">
                             <div class="xlanbli">
                               <div class="xallwwz">
                                 <div class="xallwwz1">达成值 <img src="images/xiaolian.png" class="xiaolian" alt="" /></div>
                                 <div class="xallwwz2">3</div>
                               </div>
                               <div class="xiaoins" style="width: 25%"></div>
                             </div>

                             <div class="xlanbli">
                                <div class="xallwwz">
                                 <div class="xallwwz1">预算值 </div>
                                 <div class="xallwwz2">12</div>
                               </div>
                               <div class="xiaoins"></div>
                             </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="tabDiv">
                      <div class="jindubx">
                        <div class="jintuel">
                          <span>收入实际值/目标</span>
                          <em>419.68/560.33</em>
                        </div>
                        <div class="jindwa">
                          <div class="jinduin"></div>
                        </div>
                      </div>
                      <div class="bilibox biliboxpd">
                        <div class="piebx">
                          <div class="pietl">同比 <em class="up"></em></div>
                          <div class="piediv">
                            <div class="chartvx" id="chx3" style="width: 1.9rem;height: 1.9rem;"></div>
                            <span class="chartwz">20%</span>
                          </div>
                        </div>
                        <div class="piebx">
                          <div class="pietl">环比 <em class="down"></em></div>
                          <div class="piediv">
                            <div class="chartvx" id="chx4" style="width: 1.9rem;height: 1.9rem;"></div>
                            <span class="chartwz">20%</span>
                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
            </div>

            <div class="cont cont-tab">
                  <div class="tabtitle tabtitlex">
                    <span class="cur">存货</span>
                    <span>存货周转率</span>
                  </div>
                  <div class="cont3in cont3in-bing">
                    <div class="tabDiv">
                      <div class="cunho">
                        <div class="cunho1">存货金额</div>
                        <div class="cunho2"><em>6.33</em>亿元</div>
                      </div>
                      <div class="bilibox">
                        <div class="piebx">
                        <div class="pietl">同比 <em class="up"></em></div>
                        <div class="piediv">
                          <div class="chartvx" id="ch5" style="width: 1.9rem;height: 1.9rem;"></div>
                          <span class="chartwz">20%</span>
                        </div>
                      </div>
                      <div class="piebx">
                        <div class="pietl">环比 <em class="down"></em></div>
                        <div class="piediv">
                          <div class="chartvx" id="ch6" style="width: 1.9rem;height: 1.9rem;"></div>
                          <span class="chartwz">20%</span>
                        </div>
                      </div>
                        <div class="piebx peidmsas">
                          <div class="pietl">存货周转天数 </div>
                          <div class=" ">
                            <div class="peidms ">
                              56<em>天</em>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tabDiv">
                      <div class="jindubx">
                        <div class="jintuel jintuel-fww">
                          <span>存货周转率实际值/存货周转率预算值</span>
                          <div class="jintuelw100"></div>
                          <span><em class="lasnzi">4562.12</em>/5000</span>
                        </div>
                        <div class="jindwa">
                          <div class="jinduin"></div>
                        </div>
                      </div>
                       <div class="piebx piebxxx">
                          <div class="pietl">达成率 </div>
                          <div class=" ">
                            <div class="peidms">
                              56.33<em>%</em>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>


                <div class="cont cont-tab">
                 <div class="tabtitle tabtitlex">
                    <span class="cur">现金流</span>
                    <span>资产负债率</span>
                  </div>
                  <div class="cont3in cont3in-bing">
                    <div class="tabDiv">
                      <div class="jindubx">
                        <div class="jintuel">
                          <span>经营活动现金净流量/目标</span>
                          <em>419.68/560.33</em>
                        </div>
                        <div class="jindwa">
                          <div class="jinduin"></div>
                        </div>
                      </div>
                      <div class="bilibox">
                        <div class="piebx">
                          <div class="pietl">同比 <em class="up"></em></div>
                          <div class="piediv">
                            <div class="chartvx" id="chv1" style="width: 1.9rem;height: 1.9rem;"></div>
                            <span class="chartwz">20%</span>
                          </div>
                        </div>
                        <div class="piebx">
                          <div class="pietl">环比 <em class="down"></em></div>
                          <div class="piediv">
                            <div class="chartvx" id="chv2" style="width: 1.9rem;height: 1.9rem;"></div>
                            <span class="chartwz">20%</span>
                          </div>
                        </div>
                        <div class="piebx">
                          <div class="pietl">达成率 </div>
                          <div class=" ">
                            <div class="peidms">
                              74.89<em>%</em>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="tabDiv">
                      <div class="cunho"><div class="cunho1">资产负债率预算值</div> <div class="cunho2"><em>6.33</em>%</div></div>
                      <div class="bilibox">
                        <div class="piebx">
                          <div class="pietl">同比 <em class="up"></em></div>
                          <div class="piediv">
                            <div class="chartvx" id="chv3" style="width: 1.9rem;height: 1.9rem;"></div>
                            <span class="chartwz">20%</span>
                          </div>
                        </div>
                        <div class="piebx">
                          <div class="pietl">环比 <em class="down"></em></div>
                          <div class="piediv">
                            <div class="chartvx" id="chv4" style="width: 1.9rem;height: 1.9rem;"></div>
                            <span class="chartwz">20%</span>
                          </div>
                        </div>
                        <div class="piebx">
                          <div class="pietl pietl-fenl">达成值 <img src="images/fennu.png" class="fennu" alt="" /> </div>
                          <div class=" ">
                            <div class="peidms">
                              74.89<em>%</em>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                  <!-- <div class="zhulist">
                    <div class="zhuitem">
                      <div class="zhuchart"></div>
                      <div class="zhutitl">应收净额</div>
                    </div>
                    <div class="zhuitem">
                      <div class="zhuchart"></div>
                      <div class="zhutitl">应收周转率</div>
                    </div>
                    <div class="zhuitem">
                      <div class="zhuchart"></div>
                      <div class="zhutitl">周转天数</div>
                    </div>
                  </div> -->
                </div>



                <div class="cont cont-tab">
                  <div class="tabtitle tabtitlex">
                    <span class="cur">销售收入细分市场占比</span>
                    <span>销售收入业态占比</span>
                  </div>
                  <div class="cont3in cont3in-bing">
                    <div class="tabDiv">
                      <div class="piedale">
                        <div class="pecimt">
                          <span><em class="dpoie dpoie1"></em> 药品</span>
                          <span><em class="dpoie dpoie2"></em> 器械</span>
                          <span><em class="dpoie dpoie3"></em> 零售</span>
                          <span><em class="dpoie dpoie4"></em> 储备</span>
                        </div>
                        <div class=" ">
                          <div class="">
                          <div class="chartvx" id="ch10" style="height: 3.2rem;width: 4.6rem;"></div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="tabDiv">
                      <div class="piedale">
                        <div class="pecimt">
                          <span><em class="dpoie dpoie1"></em> 药品</span>
                          <span><em class="dpoie dpoie2"></em> 器械</span>
                          <span><em class="dpoie dpoie3"></em> 零售</span>
                          <span><em class="dpoie dpoie4"></em> 储备</span>
                        </div>
                        <div class=" ">
                          <div class="">
                          <div class="chartvx" id="ch11" style="height:3.2rem;width: 4.6rem;"></div>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>



                <div class="cont cont-tab">
                  <div class="tabtitle tabtitlex">
                    <span class="cur">双达标</span>
                    <span>利润</span>
                    <span>收入</span>
                    <span>亏损</span>
                  </div>
                  <div class="cont3in cont3in-bing">


                  <div class="dabiadmx">
                    <div class="ynshtab">
                      <ul>
                        <li>
                          <div class="dwicms"><img src="images/pai1.png" alt="" /></div>
                          <div class="dsjibil">
                            <div class="dwjsl1">
                              <span class="desns1">A医药公司</span>
                              <span class="desns2">计划值</span>
                              <span class="desns3">2000</span>
                              <span class="desns2">完成值/率</span>
                              <span class="desns4">1677 /80%</span>
                            </div>
                            <div class="jindwa jindwa1">
                              <div class="jinduin"></div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="dwicms"><img src="images/pai2.png" alt="" /></div>
                          <div class="dsjibil">
                            <div class="dwjsl1">
                              <span class="desns1">A医药公司</span>
                              <span class="desns2">计划值</span>
                              <span class="desns3">2000</span>
                              <span class="desns2">完成值/率</span>
                              <span class="desns4">1677 /80%</span>
                            </div>
                            <div class="jindwa jindwa1">
                              <div class="jinduin"></div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="dwicms"><img src="images/pai3.png" alt="" /></div>
                          <div class="dsjibil">
                            <div class="dwjsl1">
                              <span class="desns1">A医药公司</span>
                              <span class="desns2">计划值</span>
                              <span class="desns3">2000</span>
                              <span class="desns2">完成值/率</span>
                              <span class="desns4">1677 /80%</span>
                            </div>
                            <div class="jindwa jindwa1">
                              <div class="jinduin"></div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="dwicms"><img src="images/pai4.png" alt="" /></div>
                          <div class="dsjibil">
                            <div class="dwjsl1">
                              <span class="desns1">A医药公司</span>
                              <span class="desns2">计划值</span>
                              <span class="desns3">2000</span>
                              <span class="desns2">完成值/率</span>
                              <span class="desns4">1677 /80%</span>
                            </div>
                            <div class="jindwa jindwa1">
                              <div class="jinduin"></div>
                            </div>
                          </div>
                        </li>

                      </ul>
                      </div>

                      <div class="ynshtab" style="display:none;">利润</div>
                      <div class="ynshtab" style="display:none;">收入</div>
                      <div class="ynshtab" style="display:none;">亏损</div>

                    </div>
                  </div>
                </div>

          </div>
        </div>
      <!--  -->



      <!-- 下拉 -->
      <div class="menuxiala" v-if="menuxiala">
        <div class="mlain">
          <div class="melaitem">
            <div class="mlatitle"><img src="images/menutitle.png" alt="" /> 集团管控报表</div>
            <div class="meilist">
              <ul>
                <li><a href="###">经营概览</a></li>
                <li><a href="###">销售分析</a></li>
                <li><a href="###">应收账款分析</a></li>
                <li><a href="###">应付账款分析</a></li>
                <li><a href="###">库存概览</a></li>
                <li><a href="###">库存明细</a></li>
                <li><a href="###">采购概览</a></li>
                <li><a href="###">采购明细</a></li>
              </ul>
              <div class="meadd">
                <img src="images/menuadd.png" alt="" /> 新增
              </div>
            </div>
          </div>

          <div class="melaitem">
            <div class="mlatitle"><img src="images/menutitle.png" alt="" /> 运营管理部</div>
            <div class="meilist">
              <ul>
                <li><a href="###">报表一</a></li>
                <li><a href="###">报表一</a></li>
                <li><a href="###">报表一</a></li>

              </ul>
              <div class="meadd">
                <img src="images/menuadd.png" alt="" /> 新增
              </div>
            </div>
          </div>

          <div class="melaitem">
            <div class="mlatitle"><img src="images/menutitle.png" alt="" /> 销售中心</div>
            <div class="meilist">
              <ul>
                <li><a href="###">报表一</a></li>
                <li><a href="###">报表一</a></li>
                <li><a href="###">报表一</a></li>
                <li><a href="###">报表一</a></li>
                <li><a href="###">报表一</a></li>
                <li><a href="###">报表一</a></li>

              </ul>
              <div class="meadd">
                <img src="images/menuadd.png" alt="" /> 新增
              </div>
            </div>
          </div>
        </div>

        <div class="mebtnsx">
          <a href="###" @click="menuxiala=0">取消</a>
          <a href="###" @click="menuxiala=0" class="cur">确定</a>
        </div>
      </div>

    </div>
  </body>



  <script type="text/javascript">
  var vm = new Vue({

    el: "#app",
    data: function(){
      return {
        cur: 0,
        custab: 0,
        menuxiala: 0,
        iconList1: [
          1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
        ],
         iconList2: [
          1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33
        ],

      }
    },
    mounted: function(){
      var oWidth = document.documentElement.clientWidth || document.body.clientWidth;
      var bili = oWidth / 800;
      $(".ditu").css({
        transform: 'scale('+bili+')',
        left: -60*bili+'px'
      })
    }

  });
  </script>

<script type="text/javascript" src="js/index_echart.js"></script>



</html>
