<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="libs/script/jquery.min.js"></script>
    <meta name="viewport"  content="width=device-width,user-scalable=no">
    <link rel="stylesheet" rev="stylesheet" href="style/reset.css" type="text/css" />
    <link rel="stylesheet" rev="stylesheet" href="style/global.css" type="text/css" />
    <link rel="stylesheet" rev="stylesheet" href="style/index.css" type="text/css" />
    <link href="libs/style/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
  </head>
  <body>
    <div class="loading"></div>
    <div class="" id="app">
      <div class="title_bg">

        <div class="mebubtn">
          经营概览
        </div>
        <div class="exit">
          <img src="images/exit.png" alt="" />
        </div>
      </div>

      <div class="tabbox">
       <div class="tabsandv">
          <span qie="0" class="tabsp tabsp1"
            ><span class="">甘肃省省省省省省省</span> <em class="fa fa-angle-down"></em
            ><em class="fa fa-angle-up"></em
          ></span>
          <div class="tabla tabla1" qiedata="0">
            <div class="tablain">
              <div class="tablaqie tablaqie1">
                <ul>
                  <li class="cur">重药集团</li>
                </ul>
                <ul>
                  <li>安徽重药控</li>
                  <li>安通公司</li>
                  <li>郸城人福药</li>
                  <li class="cur">甘肃欣特</li>
                  <li>甘肃重药医药</li>
                  <li>公司名称公司名称</li>
                  <li>公司名称公司名称</li>
                  <li>公司名称公司名称</li>
                  <li>公司名称公司名称</li>
                  <li>公司名称公司名称</li>
                  <li>公司名称公司名称</li>
                  <li>公司名称公司名称</li>
                  <li>公司名称公司名称</li>
                  <li>公司名称公司名称</li>
                  <li>公司名称公司名称</li>
                </ul>
                <ul>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                  <li>重庆市酉阳县和平药房连锁有限责任公司</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="tabsandv">
          <span qie="1" class="tabsp tabsp2"
            ><span class="">2020</span> <em class="fa fa-angle-down"></em
            ><em class="fa fa-angle-up"></em
          ></span>
          <div class="tabla tabla2" qiedata="1">
            <div class="tablain">
              <div class="tablaqie tablaqie2">
                <ul>
                  <li class="cur">2020</li>
                  <li>2020</li>
                  <li>2020</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tabsandv">
          <span qie="2" class="tabsp tabsp2"
            ><span class="">1季度</span> <em class="fa fa-angle-down"></em
            ><em class="fa fa-angle-up"></em
          ></span>
          <div class="tabla tabla2" qiedata="2">
            <div class="tablain">
              <div class="tablaqie tablaqie2">
                <ul>
                  <li class="cur">1季度</li>
                  <li>2季度</li>
                  <li>3季度</li>
                  <li>4季度</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="tabsandv">
          <span qie="3" class="tabsp tabsp3"
            ><span class="">3月</span> <em class="fa fa-angle-down"></em
            ><em class="fa fa-angle-up"></em
          ></span>
          <div class="tabla tabla2" qiedata="3">
            <div class="tablain">
              <div class="tablaqie tablaqie2">
                <ul>
                  <li class="cur">1月</li>
                  <li>2月</li>
                  <li>3月</li>
                  <li>4月</li>
                  <li>5月</li>

                </ul>
              </div>
            </div>
          </div>
        </div>







      </div>


      <!--  -->
      <!--  -->

      <div class="gwitamwa">
        <div class="gwitam">
          <div class="csiiatm">
            <div class="csiiatm1">公司数量</div>
            <div class="csiiatm2"><em>600</em>家</div>
          </div>
          <div class="csiiatm">
            <div class="csiiatm1">一级公司</div>
            <div class="csiiatm2"><em>200</em>家</div>
          </div>
          <div class="csiiatm">
            <div class="csiiatm1">二级公司</div>
            <div class="csiiatm2"><em>300</em>家</div>
          </div>
          <div class="csiiatm">
            <div class="csiiatm1">三级公司</div>
            <div class="csiiatm2"><em>200</em>家</div>
          </div>
          <div class="csiiatm">
            <div class="csiiatm1">控股公司</div>
            <div class="csiiatm2"><em>200</em>家</div>
          </div>
          <div class="csiiatm">
            <div class="csiiatm1">参股公司</div>
            <div class="csiiatm2"><em>200</em>家</div>
          </div>
          <div class="csiiatm">
            <div class="csiiatm1">门店数量</div>
            <div class="csiiatm2"><em>502</em>家</div>
          </div>


        </div>
      </div>
      <!--  -->


      <!--  -->
      <div class="contzhong">


          <div class="smtab">
                  <em :class="{cur: custab==0}" @click="custab = 0">区域市场</em>
                  <em :class="{cur: custab==1}" @click="custab = 1">全国</em>
                </div>

          <div class="dituwa">


            <div class="ditu" v-if="custab == 0">
              <img src="images/ditu2.png" alt="" />


              <!-- 1 -->
              <div class="dituk dituk32" @click="cur = 32">
                <div class="ditubg"></div>
                <div class="dituicon dituiconsj">
                  <em></em>

                  <em class="icondian"></em>
                </div>
              </div>

              <div class="dituk dituk33" @click="cur = 33">
                <div class="ditubg"></div>
                <div class="dituicon dituiconsj">
                  <em></em>

                  <em class="icondian"></em>
                </div>
              </div>
              <div class="diticmt">
                <span><em class="diicmt diicmt1"></em>>50亿</span>
                <span><em class="diicmt diicmt2"></em>>10~50亿</span>
                <span><em class="diicmt diicmt3"></em>><10亿</span>
              </div>

            </div>


            <div class="ditu" v-if="custab == 1">

              <!-- <div class="dituzuowz">
                <div class="ditmw1"><em><img src="images/gs1.png" alt="" /></em> 公司数量 600 家</div>
                <div class="ditmw2">一级公司(200家) 二级公司(300家) 三级公司(200家)</div>
                <div class="ditmw2">控股公司(200家) 参股公司(200家)</div>
                <div class="ditmw1"><em><img src="images/gs2.png" alt="" /></em> 门店数量 502 家</div>
              </div> -->
              <img src="images/ditu2.png" alt="" />

              <div class="" id="xIcon">
                <div :class=" 'dituk '+ 'dituk'+item" v-for="(item,index) in iconList1">
                    <div class="ditubg"></div>
                    <div class="dituicon" @click="cur = index">
                      <em></em>
                      <em class="icondian"></em>
                    </div>
                  </div>

              </div>
              <!-- 1 -->


              <div class="diticmt">
                <span><em class="diicmt diicmt1"></em>>50亿</span>
                <span><em class="diicmt diicmt2"></em>>10~50亿</span>
                <span><em class="diicmt diicmt3"></em>><10亿</span>
              </div>
            </div>


          </div>
          <div class="qideuqie">
            <div class="ditutan ditutan-big" v-for="(item,index) in iconList2" :key="index" v-if="cur == index">
                <div class="titutl">
                  省级平台公司（重庆）
                </div>
                <div class="tmsndl">
                  <div class="tmsndlin">
                    <div class="tinemttm">
                      <div class="tinemttm1">公司数量</div>
                      <div class="tinemttm2">2 <em>家</em></div>
                    </div>
                  </div>
                  <div class="tmsndlin">
                    <div class="tinemttm">
                      <div class="tinemttm1">门店数量</div>
                      <div class="tinemttm2">2 <em>个</em></div>
                    </div>
                  </div>
                </div>
                <div class="tmsndl">
                  <div class="tmsndlin">
                    <div class="tinemttm">
                      <span class="tinemttm1">营业收入</span>
                      <span class="tinemttm2">56445.54 / <em>84.3%</em></span>
                    </div>


                  </div>
                   <div class="tmsndlin">
                    <div class="tinemttm">
                      <span class="tinemttm1">利润总额</span>
                      <span class="tinemttm2">56445.54 / <em>42.33%</em></span>
                    </div>


                  </div>

                </div>
              </div>
          </div>
        </div>
      <!--  -->


    </div>
  </body>



  <script type="text/javascript">
  var vm = new Vue({

    el: "#app",
    data: function(){
      return {
        cur: 0,
        custab: 0,
        iconList1: [
          1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
        ],
         iconList2: [
          1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33
        ],

      }
    },
    mounted: function(){
      var oWidth = document.documentElement.clientWidth || document.body.clientWidth;
      var bili = oWidth / 930;
      $(".ditu").css({
        transform: 'scale('+bili+')'
      })
    }

  });
  </script>

<!-- <script type="text/javascript" src="js/index_echart.js"></script> -->



</html>
